<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Agregar enlaces a los archivos CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <style>
        /* body, html {
            height: 100%;
        } */
        .foto-container, .Tecnologias, .Certificados {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .foto img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
            margin-top: 20%;
            margin-bottom: 20%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container foto-container bg-imge" style="background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8fDA%3D');">
        <div class="foto">
            <img src="https://i.ibb.co/KhmCJf3/20240319-170257.jpg" alt="yo" height="400">
        </div>
    </div>
    <div class="Tecnologias">
        <h1 class=" text-light">Tecnologias</h1>
        <div class="contenido p-3 mb-2 bg-dark bg-gradient text-white">
            <p>El tiempo que llevo estudiando la universidad he adquirido el conocimiento para usar tecnologias de programacion para el desarrollo web, movil y asi mismo manejo de base de datos, conocimientos en linux.</p>
            <img src="https://i.ibb.co/7xm3mCT/sticker-png-c-programming-language-logo-microsoft-visual-studio-net-framework-javascript-icon-purple.png" alt="sticker-png-c-programming-language-logo-microsoft-visual-studio-net-framework-javascript-icon-purple" height="50px">
            <img src="https://i.ibb.co/CB3jkYs/png-clipart-xamarin-android-cross-platform-hd-logo.png" height="40px" alt="">
            <img src="https://i.ibb.co/w6yJryX/image-2024-03-19-183832386.png" height="50" alt="">
            <img src="https://i.ibb.co/30NyZhQ/png-transparent-mongodb-logo-black-tech-companies.png" height="50" alt="">
            <img src="https://i.ibb.co/9Zd6zvW/image-2024-03-19-193124710.png" height="50" alt="">
            <img src="https://i.ibb.co/BGc0vLR/png-clipart-linux-linux.png" height="45" alt="">
        </div>
    </div>
    <!-- <div class="accordion accordion-flush container text-center" id="accordionFlushExample">
        <div class="row">
          <div class="accordion-item col">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="true"
              aria-controls="flush-collapseOne"
            >
              Accordion Item #1
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionFlushExample"
            style=""
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              first item's accordion body.
            </div>
          </div>
        </div>
          <div class="accordion-item col">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
          <div class="accordion-item col">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
        </div>
      </div> -->
    <div class="Certificados">
        <h1 class=" text-light">Certificados</h1>
        <div class="contenido p-3 mb-2 bg-dark bg-gradient text-white">
            <p>En esta seccion de Certificados, les mostrare mi certificado de python en ciencia de datos basica dado por IBM, lo consegui en edex gracias a los beneficios que me dio la universidad.</p>
            <img src="https://i.ibb.co/0h12QrV/image-2024-03-20-150024701.png" height="300" alt="">
        </div>
    </div>
    <!-- Scripts de Bootstrap (opcional si deseas utilizar componentes de JavaScript de Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<!-- <div class="card" style="width: 18rem; margin: 10px;" *ngFor="let rochin of Rochins">
    
    <div class="card-body">
      <h5 class="card-title">{{rochin.nombre}} {{rochin.apellido}}</h5>
      <p class="card-text">{{rochin.sobreMi}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->